canvas{
    background-color:rgb(0, 0, 0);
    position: absolute;
    top: 3vw;
    left: 3vw;
    bottom: 0vw;
}

body{
    background-image: linear-gradient(rgb(39, 4, 78),black);
    background-attachment: fixed;
}

.instruction
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 1vw;
    padding-left: 1vw;
}

#instructions
{
    position: absolute;
    display: flex;
    justify-content: center;
    left: 35vw;
}

.right
{
    float:right;
}

.left
{
    float:left;
}